.workModel{
   background-color: #132238;
    position: relative;
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;
       
        .progressBar{
            margin-top: 1rem;
            
            height: 10px;
            background-color: white;

        }
        h1{
            text-align: center;
            color: white;
            font-size: 5rem;
            margin-top:  calc(15vh - 100px);
            @media(max-width:767px) {
                // padding-top: calc(100vh - 100px);
                font-size: 2rem
              }
        }
    }
   
}
