.Main{
    height: calc(100vh - 100px);
 
    background-color: #05182E;
   
 
   .center{
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      justify-content: space-around;
      align-items: center;
      border: 1px solid black;
      @media (max-width: 767px) {
         flex-direction: column; // Stack content vertically on smaller screens
         
         height: 100vh;
         
      }
   }

  .content {
 
     h1{
        padding:4rem 0rem;
        color: rgb(5, 213, 250);
        @media(max-width: 768px){
         font-size: 1.1rem;
         margin-top: -2rem;

         padding: 2rem 0;
         text-align: center;
        }
     }
     p{
        font-size: 4rem;
        width: 40rem;
        color: white;
        margin-bottom: 4rem;
        // margin-top:;
        @media(max-width: 767px){
         font-size: 1.3rem;
         margin-top: -1rem;

         text-align: center;
         margin-bottom: 1rem;
        }
     }
     a{
        padding:1.2rem;
        margin-left: 2rem;
        border-radius: 5px;

      @media(max-width: 767px){
         padding: 1rem;
        }
       
     }
     .Links{
      display: flex;
      @media(max-width: 767px){
         flex-direction: column;
         width: 100%;
        }
     }
     .contact{
        background-color: whitesmoke;
        border: none;
        color: black;
        @media (max-width:767px){
         margin: auto;
         width: 7.4rem;
       
     }
    }
    .work{
        border: solid purple ;
        @media (max-width:767px){
         margin:1rem auto;
         width: 7rem;
       
     }
    }
    
    }
  
    
   }
   .me{
     
      justify-content: center;
      display: flex;
      img{
         width: 80%;
         margin-bottom: 7rem;
         @media (max-width: 767px) {
           width: 60%;
            
         }
      }
   // height: 10rem;


   }
